.bar {
    // box-sizing: border-box;
    height: 80px;
    display: flex;
    width: 100%;
    max-width: calc(540px + 3rem);
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: var(--box-border-radius);
    border: 1px solid var(--color-border);
    box-sizing: border-box;
    h1 {
        margin: 0;
        color: #000;
    }

    select {
        width: 150px;
        height: 40px;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #c7c7c7;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.2s ease;
        background-color: rgb(194, 249, 253);
        color: #707070;

        &:focus,
        &:hover {
            outline: none;
        }

        > option {
            cursor: pointer;
        }
    }
}
