.wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 80px;
    background-color: var(--color-background-card);
    justify-content: space-between;
    padding: 0 1rem;
    color: #000;

    .details {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        h1 {
            font-size: 1.4rem;
            font-weight: normal;
        }

        .avatar {
            display: flex;
            width: 40px;
            height: 40px;

            img {
                border-radius: 100px;
            }
        }
    }

    .buttons {
        display: flex;
        gap: 1rem;
    }
}
