.wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 80px;
    background-color: var(--color-background-card);
    justify-content: space-between;
    padding: 0 1rem;
    color: #000;

    h1 {
        font-size: 1.4rem;
        font-weight: normal;
    }

    .buttons {
        display: flex;
        gap: 1rem;
    }
}
