@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
@import '../node_modules/@fortawesome/fontawesome-svg-core/styles.css';

#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}
