:root {
    --color-accent-green: #75ff2b;
    --color-danger: #fa5656;
    --color-accent-blue: rgb(151, 186, 255);

    --color-accent-green--hover: #5cc922;
    --color-danger--hover: #ba3d3d;
    --color-accent-blue--hover: rgb(119, 155, 227);

    --color-background-card: rgb(243, 245, 246);
    --color-background: rgb(229, 231, 233);
    --box-border-radius: 15px;
    --card-box-shadow-neutral: 0px 2px 9px -5px rgb(144, 144, 144);
    --color-border: #c5c4c4;

    --input-border-radius: 5px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--color-background);
    background-color: var(--color-background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    /* padding: 1rem; */
}

* > {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #000;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}
